version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s

  app:
    image: samteouri/examen_docker_s9_app:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: compteur_app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://root:password@mongo:27017/compteur?authSource=admin
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - app_network
    volumes:
      - .:/app
      - /app/node_modules

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data: